//Variables
$darkWhite: #444;
$today: #C7F464;
$bg: #4ECDC4;

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, mediumpurple, lightsalmon);
}

.title {
  text-align: center;
  color: $darkWhite;
}

.calendar{
  background: $bg;
  width: 80%;
  height: 80%;
  max-width: 1000px;
  max-height: 1000px;
  margin: 1em auto;
  padding: .5em 0;

  &__info{
    display: flex;
    align-items: center;
    padding: 0 2em;
    font-size: 1.2em;
    text-transform: uppercase;
  }

  &__prev, &__next{
    color: $today;
    cursor: pointer;
    font-size: 1.3em;
  }

  &__prev{
    margin-right: auto;
  }
  &__next{
    margin-left: auto;
  }

  &__week, &__dates{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
  }

  &__month, &__year{
    padding: .5em 1em;
  }

  &__item{
    text-align: center;
    line-height: 2;
  }

  &__today{
    background: lightcoral;
    color: white;
    width: 50%;
    border-radius: 50%;
    margin: auto;
  }

  &__last-days{
    opacity: .3;
  }
}


