<template>
    <div>
        <div class="card mb-4">
            <div class="card-header">
                Todos los Horarios
            </div>
            <div class="card-body">
                <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">TIPO DE ATENCION</th>
                    <th scope="col">TURNO</th>
                    <th scope="col">HORA</th>
                    <th scope="col">FECHA DE ATENCION</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(category,index) in getCategorys" :key="index" :value="category.id">
                    <th scope="row">1{{category.index}}</th>
                    <td>{{category.name}}</td>
                    <td>{{category.turno}}</td>
                    <td>{{category.hora}}</td>
                    <td>{{category.fecha_atencion}}</td>
                    <td><button class="btn btn-primary"></button></td>
                </tr>
            </tbody>
        </table>
        </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
    export default {
        name:'AllCategory',
        computed:{
            ...mapGetters({
                getCategorys:'category/get_all_categorys'
            })
        },
        methods:{
        ...mapActions({
            get_all_categorys:'category/getCategorysAll'
        }),
    },
    mounted(){
            this.get_all_categorys()
    }
}
</script>