<template>
    <div>
       <div class="card mb-4">
            <div class="card-header">
                TODAS LAS CITAS MEDICAS
            </div>
            <div class="card-body">
    <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>PROFESION</th>
          <th>NOMBRES</th>
          <th>APELLIDO</th>
          <th>C.I</th>
          <th>CIUDAD</th>
          <th>MUNICIPIO</th>
          <th>EDAD</th>
          <th>FECHA DE NACIMIENTO</th>
          <th>NUMERO DE CELULAR</th>
          <th>SEXO</th>
          <th>TIPO DE CONSULTA</th>
          <th>FECHA DE CONSULTA</th>
          <th>HORA DE CONSULTA</th>
          <th>DIRECCION</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(paciente,index) in getPacientes" :key="index" :value="paciente.id">
            <th scope="row">{{index}}</th>
            <td>{{paciente.title}}</td>
            <td>{{paciente.name}}</td>
            <td>{{paciente.firstName}}</td>
            <td>{{paciente.CI}}</td>
            <td>{{paciente.ciudad}}d</td>
            <td>{{paciente.municipio}}</td>
            <td>{{paciente.edad}}</td>
            <td>{{paciente.fecha_nacimiento}}</td>
            <td>{{paciente.phone}}</td>
            <td>{{paciente.genero}}</td>
            <td>{{paciente.tipoconsulta}}</td>
            <td>{{paciente.fecha_atencion}}</td>
            <td>{{paciente.hora}}</td>
            <td>{{paciente.direccion}}</td>
        </tr>
      </tbody>
    </table>
  </div> 
    </div>
    </div>
</div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
    export default {
        name:'AllPaciente',
        computed:{
            ...mapGetters({
                getPacientes:'paciente/get_all_pacientes',
            })
        },
        methods:{
        ...mapActions({
            get_all_pacientes:'paciente/getPacientesAll'
        }),
    },
    mounted(){
            this.get_all_pacientes()
    }
}
</script>

