<template>
    <div>
        <form @submit.prevent = "submit" id="createPaciente">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="validationDefault01">profession</label>
                    <select class="custom-select" id="validationDefault04" v-model="form.title">
                        <option selected disabled value="">PROFESION</option>
                        <option>AMA DE CASA</option>
                        <option>ALBAÑIL</option>
                        <option>ESTUDIANTE</option>
                        <option>INGENIERO</option>
                        <option>PROFESOR</option>
                        <option>SECRETARI@</option>
                        <option>MINERO</option>
                        <option>CHOFER</option>
                        <option>OPERADOR</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="validationDefault01">NOMBRES</label>
                    <input type="text" class="form-control" id="validationDefault01"  v-model="form.name">            
                </div>
                <div class="form-group col-md-4">
                    <label for="validationDefault02">APELIDOS</label>
                    <input type="text" class="form-control" id="validationDefault02" value="Otto" v-model="form.firstName">               
                </div>
            </div>
        <div class="form-row">
            <div class="col-md-6 mb-3">
            <label for="validationDefault03">cedula de identidad</label>
            <input type="text" class="form-control" id="validationDefault03" v-model="form.CI">
            </div>
            <div class="col-md-6 mb-3">
            <label for="validationDefault03">Ciudad</label>
            <select class="custom-select" id="validationDefault04" v-model="form.ciudad">
                <option selected disabled value="">ELIGA SU CIUDAD</option>
                <option>POTOSI</option>
                <option>SANTA CRUZ</option>
                <option>COCHABAMBA</option>
                <option>TARIJA</option>
                <option>SUCRE</option>
                <option>LA PAZ</option>
                <option>BENI</option>
                <option>ORURO</option>
                <option>PANDO</option>
            </select>
            </div>
            <div class="col-md-3 mb-3">
            <label for="validationDefault04">Municipio</label>
            <select class="custom-select" id="validationDefault04" v-model="form.municipio">
                <option selected disabled value="">choose</option>
                <option>tomas frias</option>
                <option>tarapaya</option>
                <option>chayanta</option>
            </select>
            </div>
            <div class="col-md-3 mb-3">
            <label for="validationDefault05">EDAD</label>
            <input type="text" class="form-control" id="validationDefault05" v-model="form.edad">
            </div>
            <div class="col-md-3 mb-3">
            <label for="validationDefault05">FECHA DE NACIMIENTO</label>
            <input type="date" class="form-control" id="validationDefault05" v-model="form.fecha_nacimiento">
            </div>
            <div class="col-md-3 mb-3">
            <label for="validationDefault05">NUMERO DE CELULAR</label>
            <input type="int" class="form-control" id="validationDefault05" v-model="form.phone">
            </div>
        </div>
        <div class="form-row">
            <div class="col-md-2 mb-3">
            <label for="validationDefault04">GENERO</label>
            <select class="custom-select" id="validationDefault04" v-model="form.genero">
                <option selected disabled value="">eliga su genero</option>
                <option>MASCULINO</option>
                <option>FEMENINO</option>
            </select>
           
            </div>
            <div class="col-md-2 mb-3">
            <label for="validationDefault05">tipoconsulta</label>
            <input type="text" class="form-control" id="validationDefault05" v-model="form.tipoconsulta">
            </div>
             <div class="col-md-3 mb-3">
            <label for="validationDefault05">direcion</label>
            <input type="text" class="form-control" id="validationDefault05" v-model="form.direccion">
         </div>
         <div class="form-group col-md-4">
                <label for="fecha_atencion">fecha_atencion</label>
                <input class="form-control" id="fecha_atencion" name="fecha_atencion"  type="date" placeholder="fecha_atencion" v-model="form.fecha_atencion" autocomplete="off">
            </div>
        </div>
        
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="turno">turno</label>
                <select class="custom-select" id="validationDefault04" v-model="form.genero">
                <option selected disabled value="">eliga su genero</option>
                <option>MAÑANA</option>
                <option>TARDE</option>
                <option>NOCHE</option>
            </select>
                <input class="form-control" id="turno" name="turno"  type="text" placeholder="turno" v-model="form.turno" autocomplete="off">
             </div>
            <div class="form-group col-md-4">
                <label for="hora">hora</label>
                <input class="form-control" id="hora" name="hora"  type="time" placeholder="hora" v-model="form.hora" autocomplete="off"> 
            </div>            
        </div>
        <button class="btn btn-primary" type="submit">Submit form</button>
        </form>
    </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
    export default {
        name:'CreatePaciente',
        data(){
        return {
            form:{
                title:'',
                name:'',
                firstName:'',
                CI:'',
                ciudad:'',
                municipio:'',
                edad:'',
                direccion:'',
                fecha_nacimiento:'',
                phone:'',
                genero:'', 
                tipoconsulta:'',
                turno:'',
                hora:'',
                fecha_atencion:'',
            },
        }
    },
    methods:{
        ...mapActions({
            create_paciente:'paciente/createPaciente'
        }),
        async submit(){
            try{
                await this.create_paciente(this.form)
                $('#createPaciente')[0].reset()
                this.$swal({
                    icon: 'success',
                    title: 'Wau un paciente nuevo Creado correctamente',
                    showConfirmButton: false,
                    timer: 2500
                })
            }catch (error) {
                let msgError = ''
				let obj = error.response.data.errors
				for(var prop in obj){
					if(!obj.hasOwnProperty(prop)) continue
					obj[prop].forEach(element => {
						msgError = element + ' ' + msgError
					});
				}
				this.$swal|({
					icon: 'error',
					title: 'Oops...',
					text: msgError,
				})
            }
        }
    }

}
</script>
