<template>
    <div>
        <div class="card mb-4">
            <div class="card-header">
                CREAR DATOS GENERALES
            </div>
            <div class="card-body">
                    <form  @submit.prevent = "submit" id="createPost">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="title">PERSONAL DEL HOSPITAL</label>
                                <select class="custom-select" id="validationDefault04" v-model="form.title">
                                        <option selected disabled value="">FUNCIONES</option>
                                        <option>Médico responsable</option>
                                        <option> Residentes y estudiantes de medicina</option>
                                        <option>Especialistas</option>
                                        <option>Personal de enfermería titulado</option>
                                        <option>Personal de enfermería práctico titulado</option>
                                        <option>Enfermeras en prácticas y asistentes médicos</option>
                                        <option>Defensor del paciente</option>
                                        <option>Auxiliares de enfermería</option>   
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                            <label for="category">Especialidades</label>
                                <select class="form-control" id="category" name="category" v-model="form.category">
                                    <option selected="true" disabled="disabled" value="">Seleccione una Especialidad</option>
                                    <option v-for="(category,index) in getCategorys" :key="index" :value="category.id">{{category.name}}</option>
                                </select>                            
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="title">Imagen</label>
                                <input class="form-control" id="image" name="image"  type="file" placeholder="Subir Imagen" v-on:change="onImageChange">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="body">Contenido</label>
                                <textarea class="form-control" id="body" rows="3" v-model="form.body"></textarea>               
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">Nombre</label>
                                <input class="form-control" id="name" name="name"  type="text" placeholder="INSERTE SU NOMBRE" v-model="form.name" autocomplete="off">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="fisrtName">Apellido</label>
                                <input class="form-control" id="fisrtName" name="fisrtName"  type="text" placeholder="INSERTE SU APELLIDO" v-model="form.firstName" autocomplete="off">     
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                               <label for="CI">CI</label>
                            <input class="form-control" id="CI" name="CI"  type="integer" placeholder="INSERTE SU CI" v-model="form.CI" autocomplete="off">
                            </div>
                            <div class="form-group col-md-3">
                                 <label for="ciudad">Ciudad</label>
                            <input class="form-control" id="ciudad" name="ciudad"  type="text" placeholder="INSERTE SU CIUDAD" v-model="form.ciudad" autocomplete="off">    
                            </div>
                            <div class="form-group col-md-3">
                                <label for="municipio">municipio</label>
                                <input class="form-control" id="municipio" name="municipio"  type="text" placeholder="INSERTE SU MUNICIPIO" v-model="form.municipio" autocomplete="off">    
                            </div>
                            <div class="form-group col-md-3">
                               <label for="edad">edad</label>
                            <input class="form-control" id="edad" name="edad"  type="integer" placeholder="INSERTE SU EDAD" v-model="form.edad" autocomplete="off">    
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="fecha_nacimiento">Fecha_Nacimiento</label>
                                <input class="form-control" id="fecha_nacimiento" name="fecha_nacimiento"  type="date" placeholder="Titulo" v-model="form.fecha_nacimiento" autocomplete="off">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="phone">phone</label>
                                <input class="form-control" id="phone" name="phone"  type="integer" placeholder="Titulo" v-model="form.phone" autocomplete="off"> 
                            </div>
                            <div class="form-group col-md-4">
                                <label for="genero">Genero</label>
                                <input class="form-control" id="genero" name="genero"  type="text" placeholder="genero" v-model="form.genero" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="turno">turno</label>
                                <input class="form-control" id="turno" name="turno"  type="text" placeholder="turno" v-model="form.turno" autocomplete="off">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="hora">hora</label>
                                <input class="form-control" id="hora" name="hora"  type="time" placeholder="hora" v-model="form.hora" autocomplete="off"> 
                            </div>
                            <div class="form-group col-md-4">
                                <label for="fecha_atencion">fecha_atencion</label>
                                <input class="form-control" id="fecha_atencion" name="fecha_atencion"  type="date" placeholder="fecha_atencion" v-model="form.fecha_atencion" autocomplete="off">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Crear Publicacion</button>
                    </form>
            </div> 
        </div>
    </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name:'Posts',
    data(){
        return {
            form:{
                title:'',
                category:'',
                body:'',
                name:'',
                firstName:'',
                CI:'',
                ciudad:'',
                municipio:'',
                edad:'',
                fecha_nacimiento:'',
                phone:'',
                genero:'',
                turno:'',
                hora:'',
                fecha_atencion:'',
            },
            image:''
        }
    },
    computed:{
        ...mapGetters({
            getCategorys:'category/get_all_categorys'
        })
    },
    methods:{
        ...mapActions({
            send_create_post:'post/createPost',
            get_all_categorys:'category/getCategorysAll'
        }),
        onImageChange(e){
            this.image = e.target.files[0]
        },
        async submit(){
            //await this.send_create_post(this.form)
            const config = {
                headers:{'content-type':'multipart/form-data'}
            }
            console.log(this.image)
            let formData = new FormData();
            //formData.append('image',this.image)
            formData.append('file',this.image)
            formData.append('form',JSON.stringify(this.form))

            //console.log(formData)

            /*for(var key of formData.entries()){
                console.log(key[0] +' , ' + key[1])
            }*/
            
            let data = {
                config:config,
                formdata:formData
            }

            try {
                await this.send_create_post(data)   
                $('#createPost')[0].reset()
                this.$swal({
                    icon: 'success',
                    title: 'Creado correctamente',
                    showConfirmButton: false,
                    timer: 2500
                })
            } catch (error) {
                let msgError = ''
				let obj = error.response.data.errors
				for(var prop in obj){
					if(!obj.hasOwnProperty(prop)) continue
					obj[prop].forEach(element => {
						msgError = element + ' ' + msgError
					});
				}
				this.$swal|({
					icon: 'error',
					title: 'Oops...',
					text: msgError,
				})
                
            }
        },
    },
    mounted(){
            this.get_all_categorys()
    }
}
</script>