<template>
    <div>
        <div class="card mb-4">
            <div class="card-header">
                CREAR INFORMACION
            </div>
            <div class="card-body">
                    <form  @submit.prevent = "submit" id="createCategory">
                        <div class="form-group">
                            <label for="title">CREAR ESPECIALIDADES</label>
                            <input class="form-control" id="name" name="name"  type="text" placeholder="especialidades" v-model="form.name">
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="turno">turno</label>
                                <input class="form-control" id="turno" name="turno"  type="text" placeholder="turno" v-model="form.turno" autocomplete="off">
                            </div>
                            <div class="form-group col-md-4">
                                <label for="hora">hora</label>
                                <input class="form-control" id="hora" name="hora"  type="time" placeholder="hora" v-model="form.hora" autocomplete="off"> 
                            </div>
                            <div class="form-group col-md-4">
                                <label for="fecha_atencion">fecha_atencion</label>
                                <input class="form-control" id="fecha_atencion" name="fecha_atencion"  type="date" placeholder="fecha_atencion" v-model="form.fecha_atencion" autocomplete="off">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">CREAR ESPECIALIDAD</button>
                    </form>
            </div>
        </div>
    </div>
</template>

<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name:'CreateCategory',
    data(){
        return {
            form:{
                name:'', 
                turno:'',
                hora:'',
                fecha_atencion:'',
                
            },
        }
    },
    methods:{
        ...mapActions({
            create_category:'category/createCategory'
        }),
        async submit(){
            try{
                await this.create_category(this.form)
                $('#createCategory')[0].reset()
                this.$swal({
                    icon: 'success',
                    title: 'Horario Creado correctamente',
                    showConfirmButton: false,
                    timer: 2500
                })
            }catch (error) {
                let msgError = ''
				let obj = error.response.data.errors
				for(var prop in obj){
					if(!obj.hasOwnProperty(prop)) continue
					obj[prop].forEach(element => {
						msgError = element + ' ' + msgError
					});
				}
				this.$swal|({
					icon: 'error',
					title: 'Oops...',
					text: msgError,
				})
            }
        }
    }
}
</script>