<template>
    <div>
        <div class="card mb-4">
            <div class="card-header">
                Editar Publicacion
            </div>
            <div class="card-body">
                    <form  @submit.prevent = "submit">
                        <div class="form-group">
                            <label for="title">Titulo</label>
                            <input class="form-control" id="title" name="title"  type="text" placeholder="Titulo" v-model="getPost.title" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="category">Categoria</label>
                            <select class="form-control" id="category" name="category" v-model="getPost.categoryId">
                                <option selected="true" disabled="disabled" value="">Seleccione una categoria</option>
                                <option v-for="(category,index) in getCategorys" :key="index" :value="category.id">{{category.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="title">Imagen</label>
                            <input class="form-control" id="image" name="image"  type="file" placeholder="Subir Imagen" v-on:change="onImageChange">
                        </div>
                        <div class="form-group">
                            <label for="body">Contenido</label>
                            <textarea class="form-control" id="body" rows="3" v-model="getPost.body"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input class="form-control" id="name" name="name"  type="text" placeholder="INSERTE SU NOMBRE" v-model="getPost.name" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="fisrtName">Apellido</label>
                            <input class="form-control" id="firstName" name="firstName"  type="text" placeholder="INSERTE SU APELLIDO" v-model="getPost.firstName" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="CI">CI</label>
                            <input class="form-control" id="CI" name="CI"  type="integer" placeholder="INSERTE SU CI" v-model="getPost.CI" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="ciudad">Ciudad</label>
                            <input class="form-control" id="ciudad" name="ciudad"  type="text" placeholder="INSERTE SU CIUDAD" v-model="getPost.ciudad" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="municipio">municipio</label>
                            <input class="form-control" id="municipio" name="municipio"  type="text" placeholder="INSERTE SU MUNICIPIO" v-model="getPost.municipio" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="edad">edad</label>
                            <input class="form-control" id="edad" name="edad"  type="integer" placeholder="INSERTE SU EDAD" v-model="getPost.edad" autocomplete="off">
                        </div>
                        
                        <div class="form-group">
                            <label for="fecha_nacimiento">Fecha_Nacimiento</label>
                            <input class="form-control" id="fecha_nacimiento" name="fecha_nacimiento"  type="date" placeholder="Titulo" v-model="getPost.fecha_nacimiento" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="phone">phone</label>
                            <input class="form-control" id="phone" name="phone"  type="integer" placeholder="Titulo" v-model="getPost.phone" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label for="genero">Genero</label>
                              <input class="form-control" id="genero" name="genero"  type="text" placeholder="genero" v-model="getPost.genero" autocomplete="off">
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Editar Publicacion</button>
                    </form>
            </div>
        </div>
    </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name:'Posts',
    data(){
        return {
            form:{
                title:'',
                category:'',
                body:'',
                name:'',
                firstName:'',
                CI:'',
                ciudad:'',
                municipio:'',
                edad:'',
                fecha_nacimiento:'',
                phone:'',
                genero:'',  
            },
            image:''
        }
    },
    computed:{
        ...mapGetters({
            getCategorys:'category/get_all_categorys',
            getPost:'post/detail_post'
        })
    },
    methods:{
        ...mapActions({
            get_all_categorys:'category/getCategorysAll',
            get_post:'post/detailPost',
            edit_post:'post/editPost'
        }),
        onImageChange(e){
            this.image = e.target.files[0]
        },
        async submit(){

            this.form={
                title:$('#title').val(),
                category:$('#category').val(),
                body:$('#body').val(),
                name:$('#name').val(),
                firstName:$('#firstName').val(),
                CI:$('#CI').val(),
                ciudad:$('#ciudad').val(),
                municipio:$('#municipio').val(),
                edad:$('#edad').val(),
                fecha_nacimiento:$('#fecha_nacimiento').val(),
                phone:$('#phone').val(),
                genero:$('#genero').val(),
                idpost:this.getPost.id // esto para el mi propio metodo para actualizar
            }
            
            
            const config = {
                headers:{'content-type':'multipart/form-data'}
            }
            console.log(this.image)
            let formData = new FormData();
            
            formData.append('file',this.image)
            formData.append('form',JSON.stringify(this.form))
            formData.append('_method','PUT') // AÑADIR PARA EL METODO POR DEFECTO PUT PARA ACTUALIZAR

            

            for(var value of formData.values()){
                console.log(value)
            }
            
            let data = {
                config:config,
                parameter:this.$route.params.slug,
                formdata:formData
            }
            await this.edit_post(data)

        },
    },
    mounted(){
            //console.log(this.$route.params.slug)
            this.get_all_categorys()
            this.get_post(this.$route.params.slug)
    }
}
</script>