<!--<template>
    <form action="#" @submit.prevent = "submit">
        <div>
            <label for="email">Correo electronico</label>
            <input type="email" name="email" id="email" v-model="form.email">
        </div>
        <div>
            <label for="password">Contraseña</label>
            <input type="text" name="password" id="password" v-model="form.password">
        </div>
        <button type="submit">Iniciar Session</button>
    </form>
</template>-->

<template>
	<div>
	<NavHome :color="color"/>
		<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="images/img-01.png" alt="IMG">
				</div>

				<form class="login100-form validate-form" @submit.prevent = "submit">
					<span class="login100-form-title">
						Member Login
					</span>

					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
						<input class="input100" type="text" name="email" placeholder="Email" v-model="form.email">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 validate-input" data-validate = "Password is required" autocomplete="off">
						<input class="input100" type="password" name="pass" placeholder="Password" v-model="form.password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

					<div class="text-center p-t-12">
						<span class="txt1">
							Forgot
						</span>
						<a class="txt2" href="#">
							Username / Password?
						</a>
					</div>

					<div class="text-center p-t-136">
						<a class="txt2" href="#">
							Create your Account
							<i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	</div>
</template>


<script>
import {mapActions} from 'vuex'
import NavHome from '../components/NavHome'
export default {
	name:'SignIn',
	components:{NavHome},
    data(){
        return {
            form:{
                email:'',
                password:''
			},
			color:'red'
        }
    },
    methods:{
        ...mapActions({
            signIn:'auth/signIn'
        }),
        async submit(){
            console.log('ENVIANDO FORMULARIO')
            console.log(this.form)
            await this.signIn(this.form)
            this.$router.replace({name:'dashboard.post'})
        }
    }
}
</script>
