<template>
<div>
    <div>
        <form  action="#" @submit.prevent = "submit">
        <div class="container">
            <h1>REGISTARSE PARA EL SISTEMA</h1>
            <p>porfavor crear una cuenta nueva/p>
            <hr>
            <label for="nombre"><b>Nombre</b></label>
            <input type="text" name="name" id="name" v-model="form.name">
            <br>
            <label for="email"><b>Correo Electronico</b></label><br>    
            <input type="text" name="email" id="email" v-model="form.email"><br>
            <label for="password">Contraseña</label>
            <input type="password" name="password" id="password" v-model="form.password"><br>
            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" v-model="form.password_confirmation" required><br>
            <hr>
            <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
            <button type="submit" class="registerbtn">Register</button>
        </div>
        <div class="container signin" >
            <p>Already have an account? <a href="#">Sign in</a>.</p>
        </div>
    </form>
    </div>
</div>
</template>
<script>
import {mapActions} from 'vuex'
export default {
    name:'SignUp',
    data(){
         return {
            form:{
                name:'',
                email:'',
                password:'',
                password_confirmation:''
            }
        }
    },
    methods:{
        ...mapActions({
            send:'auth/signUp'
        }),
        async submit(){
            await this.send(this.form)
            this.$router.replace({name:'dashboard'})
        }
    }
}
</script>
